
.contato-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.contato-campo{
    margin-bottom: 90px;
}

.contato-titulo{
    color: #FFBE51;
    text-transform: uppercase;
    font-style: bold;
    font-size: 40px;
}

.contato-form__input{
    width: 100%;
    padding: 5px;
    margin:5px 0 20px;
}

.contato-form__input:focus-visible{
    outline-color: #ffbe51;
}

.contato-form__textarea{
    width: 100%;
    padding: 5px;
    margin:5px 0 20px;
    resize: none;
    height: 200px;
    margin-bottom: 5px;
}

.contato-form__textarea:focus-visible{
    outline-color: #ffbe51;
}

.contato-form__btn{
    width: 100%;
    background-color: #FFC107;
    color: white;
    border: none;
    height: 30px; 
}

.contato-iframe{
    width: 400px;
}
