.contato{
    &-container{
        @include flexbox;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    &-campo{
        margin-bottom: 90px;
    }
    &-titulo{
        color: $primary-color;
        text-transform: uppercase;
        font-style: bold;
        font-size: 40px; 
    }
    &-form{
        &__input{
            @include form-wpm;
            &:focus-visible{
                outline-color: $primary-color;
            }
        }
        &__textarea{
            @include form-wpm;
            resize: none;
            height: 200px;
            margin-bottom: 5px;
            &:focus-visible{
                outline-color: $primary-color;
            }
        }
        &__btn{
            width: 100%;
            background-color: $btn-color;
            color: $background-primary-color;
            border: none;
            height: 30px; 
        }
    }
    &-iframe{
        width: 400px;
    }
}
