.contato{
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    &-campo{
        margin-bottom: 90px;
    }
    &-titulo{
        color: #FFBE51;
        text-transform: uppercase;
        font-style: bold;
        font-size: 40px; 
    }
    &-form{
        &__input{
            width: 100%;
            padding: 5px;
            margin:5px 0 20px;
            &:focus-visible{
                outline-color: #ffbe51;
            }
        }
        &__textarea{
            width: 100%;
            padding: 5px;
            margin:5px 0 20px;
            resize: none;
            height: 200px;
            margin-bottom: 5px;
            &:focus-visible{
                outline-color: #ffbe51;
            }
        }
        &__btn{
            width: 100%;
            background-color: #FFC107;
            color: white;
            border: none;
            height: 30px; 
        }
    }
    &-iframe{
        width: 400px;
    }
}
