.banner {
    background-color: $background-primary-color;
    &-container{
        @include flexbox;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &-title{
        font-weight: 800;
        text-transform: uppercase;
        color: $text-primary-color;
        letter-spacing: 1px;
        font-size: 30px; 
    }
}
.servicos{
    &-card{
        margin-top: 45px;
        background-color: $background-second-color;
        &__container{
            @include flexbox;
        }   
        &__title{
            padding-top: 45px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
        }     
    }
}

.content{
    margin-top: 150px;
    margin-bottom: 150px;
    &-container{
        @include flexbox;      
    }
    &-text{
        &__title{
            color:$text-primary-color;
            font-weight: 700; 
        }
        &__body{
            color: $text-primary-color;
            font-weight: 400;
        }
    }
}
