.trab{
    &-form{
        &__input{
            &:not([type="checkbox"]){
               @include form-wpm;
            }
            &:not([type="checkbox"], [type="file"]){
                &:focus-visible{
                    outline-color: $primary-color;
                }
            }
        }
        &__textarea{
            @include form-wpm;
            resize: none;
            &:focus-visible{
                outline-color: $primary-color;
            }
        }
        &__select{
            @include form-wpm; 
            &:focus-visible{
                outline-color: $primary-color;
            }
        }
        &__btn{
            padding: 15px 30px;
            text-transform: uppercase;
            background-color: $primary-color;
            border: 0;
            color: $background-primary-color;
            font-weight: 600;
            transition: 0.4s;
            &:active{
                background-color: $btn-color-active;
            }
            &:hover{
                transition: 0.5s;
                background-color: $btn-color-hover;
            }
        }
    }
}

.check{
    margin: 5px 0;
    &:last-of-type{
        margin-bottom: 30px;
    }
}