
.trab-form-input:not([type="checkbox"]){
    width: 100%;
    padding: 5px;
    margin:5px 0 20px;
}

.trab-form-textarea{
    width: 100%;
    padding: 5px;
    margin:5px 0 20px;
    resize: none;
}

.trab-form-select{
    width: 100%;
    padding: 5px;
    margin:5px 0 20px;
}

.trab-form-btn{
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #ffbe51;
    border: 0;
    color: white;
    font-weight: 600;
    transition: 0.4s;
}

.trab-form-btn:active {
    background-color: #bd7c0c;
}

.trab-form-input:not([type="checkbox"], [type="file"]):focus-visible,
.trab-form-textarea:focus-visible,
.trab-form-select:focus-visible {
    outline-color: #ffbe51;
}

.trab-form-btn:hover{
    transition: 0.5s;
    background-color: chocolate;
}

.check{
    margin: 5px 0;
}

.check:last-of-type {
    margin-bottom: 30px;
}