.footer {
    background-color: #FFBE51;
    padding-top: 30px;
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;       
    }
    &-map__content{
        margin-left: 100px;
    }
    &-copyright{
        text-align: center;
        padding: 15px;
        margin-bottom: 0;
        background-color:#C4C4C4;        
    }
}