.footer {
    background-color: $primary-color;
    padding-top: 30px;
    &-container{
        @include flexbox;       
    }
    &-map__content{
        margin-left: 100px;
    }
    &-copyright{
        text-align: center;
        padding: 15px;
        margin-bottom: 0;
        background-color: $background-footer;        
    } 
}