.footer {
    background-color: #FFBE51;
    padding-top: 30px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-map-content{
    margin-left: 100px;
}

.footer-copyright{
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    background-color:#C4C4C4;
}