.servicos{
    &-body{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;  
    }
    &-retangulo{
        background-color: darkgray;
        width: 266px;
        height: 264px;
        margin-left: 50px; 
    }
    &-info{
        margin-left: 100px;  
    }
    &-info__content{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 40px;  
    }
    &-info__content-title{
        text-transform: uppercase;
        margin: 0;
    }
    &-info__content-preco{
        font-size: 17px;
        font-weight: 400;
        margin-top: 5px;
        margin-left: 10px;   
    }
    &-info__description{
        color: #757575;
        font-weight: 400;
        margin-bottom: 50px;       
    }
    &-info__btn{
        background-color: #FFC107;
        border: none;
        width: 245px;
        height: 32px;
        color: white;       
    }
} 