.servicos{
    &-body{
        @include flexbox($jc: flex-start, $ai: flex-start);  
    }
    &-retangulo{
        background-color: $text-primary-color;
        width: 266px;
        height: 264px;
        margin-left: 50px; 
    }
    &-info{
        margin-left: 100px;  
        &__content{
            @include flexbox($jc: flex-start, $ai: flex-start); 
            margin-bottom: 40px;  
            &-title{
                text-transform: uppercase;
                margin: 0;
            }
            &-preco{
                font-size: 17px;
                font-weight: 400;
                margin-top: 5px;
                margin-left: 10px;   
            }
        }
        &__description{
            color: $text-primary-color;
            font-weight: 400;
            margin-bottom: 50px;       
        }
        &__btn{
            background-color: $btn-color;
            border: none;
            width: 245px;
            height: 32px;
            color: $background-primary-color;       
        }
    }
} 