/*serviços*/
.servicos-body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.servicos-retangulo{
    background-color: darkgray;
    width: 266px;
    height: 264px;
    margin-left: 50px;
}

.servicos-info{
    margin-left: 100px;
}

.servicos-info-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
}

.servicos-info-content-title{
    text-transform: uppercase;
    margin: 0;
}

.servicos-info-content-preco{
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 10px;
}

.servicos-info-description{
    color: #757575;
    font-weight: 400;
    margin-bottom: 50px;
}

.servicos-info-btn{
    background-color: #FFC107;
    border: none;
    width: 245px;
    height: 32px;
    color: white;
}