.card{
    &-retangulo{
        width: 260px;
        height: 250px;
        background-color: $background-primary-color;
    }
    &-info{
        margin-top: 15px;
        margin-bottom: 45px;
    }
    &-titulo{
        font-weight: 800;
    }
    &-preco{
        font-size: 15px;
    } 
}