.card-retangulo{
    width: 260px;
    height: 250px;
    background-color: white;
}

.card-info {
    margin-top: 15px;
    margin-bottom: 45px;
}

.card-titulo{
    font-weight: 800;
}
.card-preco{
    font-size: 15px;
}